@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.nav {
    width: 70vw;
    height: 3em;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: snow;
    background-color: slategray;
    padding: 0 .5em;
}

.nav .nav-title {
    display: flex;
    justify-self: flex-start;
}

ul  {
    list-style-type: none;
    gap: .5em;
    display: flex;
    justify-content: space-between;
}

a {
    color: snow;
    text-decoration: none;
}

.btn {
    color: snow;
    font-family: 'Roboto', sans-sefif;
    background-color: steelblue;
    box-shadow: black 2px 2px 2px 0px;
}

.active:hover {
    font-weight: bolder;
}

.bigger:hover {
    font-size: 3em;
    color: black;
}

a:hover {
    font-size: 1.5em;
    color: black;
}